.recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

.recipe img {
    width: 1000px; 
    height: 700px; 
    margin-bottom: 20px;
}

.info {
    text-align: left;
    width: 970px;
    margin: auto;
}

.info h2 {
    margin-top: 0;
    text-align: center;
}

.overview {
    text-align: justify;
    text-justify: inter-word;

    margin-bottom: 20px; 
}

.recipe h3 {
    text-align: left;
}

.info ul,
.info ol {
    text-align: left;
    margin-bottom: 5px;
}

.info li {
    font-size: 1.1em;
}

.button {
    display: block;
    margin-top: 20px auto;
    text-align: center;
}
